# === Angular ===
/dist
/tmp
/out-tsc
/bazel-out
/.angular
.angular/cache/
coverage/

# === Node.js ===
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === Environment files ===
.env
.env.*  # Ignore all env files like .env.local, .env.prod, etc.

# === VS Code ===
.vscode/

# === IntelliJ IDEA / WebStorm ===
.idea/
*.iml

# === Eclipse / Other IDEs ===
.project
.classpath
.c9/
*.launch

# === Editor swap/lock files ===

